@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #faf8ff;
  --foreground: #1a1b20;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), sans-serif;
}

@layer components {
  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }
}
